.posts-wrapper
  .row.profile-header
    .col-md-5
      .img-circle
        = profile_avatar_select(@user)
    .col-md-5
      .user-name-and-follow
        %h3.profile-user-name
          = @user.user_name
        %span
          - if @user == current_user
            = link_to 'Edit Profile', edit_profile_path(@user.user_name),
                                      class: 'btn edit-button'
          - else
            = render 'users/follow_form'       
      %p.profile-bio
        = @user.bio
      .user-statistics
        %p
          = pluralize @user.posts.count, 'post'
      %section.stats= render 'shared/stats'

.posts-wrapper
  .row.profile-header
    -@posts.each do |post|
      .col-md-4
        = render 'posts/postSub', post: post