- if current_user.voted_for? post
    = link_to '', unlike_post_path(post.id), id: "unlike_#{post.id}", class: "unlike glyphicon #{liked_post post}", remote: true
- else
    =link_to '', like_post_path(post.id), id: "like_#{post.id}", class: "like glyphicon #{liked_post post}", remote: true