<!DOCTYPE html>
<html>
<head>
  <title>BKVL</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>
    <div class="container">
      <% flash.each do |name, msg| %>
      
        <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
      <% end %>
    </div>
<%= yield %>


<script type="text/javascript">
(function($){
  $(function(){ 
    var scroll = $(document).scrollTop();
    var headerHeight = $('.page_header').outerHeight();
     
    $(window).scroll(function() {
      var scrolled = $(document).scrollTop();
      if (scrolled > headerHeight){
        $('.page_header').addClass('off-canvas');
      } else {
        $('.page_header').removeClass('off-canvas');
      }
 
        if (scrolled > scroll){
         $('.page_header').removeClass('fixed');
        } else {
        $('.page_header').addClass('fixed');
        }            
      scroll = $(document).scrollTop(); 
     });
        
   });
})(jQuery)
</script>
</body>
</html>
	